<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StarTrek: The Trekkoning</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="vue.global.js"></script>
    <script defer src="Client.js"></script>
</head>

<body>
    <div id="app">

        <!--Intro-->
        <small class="paramount">paramount please dont sue us</small>
        <h1 class="center" id="trekkoning">Star Trek: The Trekkoning</h1>
        <br>
        <p class="center" id="instructions">Help Kirk tackle the oncoming Gorn! Careful- you only have 3 hyposprays if you miss!</p>
        
        <br>


        <p class="center" id="jsScore">{{message}}</p>

        <!-- Server Score List -->
        <div id="scoreList" class="center">
            <pre>{{feedback}}</pre>
            <div>
                <label for="person">Enter 3 letter username: </label>
                <input type="text" maxlength="3" v-model="user">
                <label for="points">Enter your score: </label>
                <input type="text" v-model="score">
                <button @click="fetchAddingScore">Submit new score</button>
            </div>
            <br>
            <div>
                <button @click="fetchScoreList">Get List of High Scores</button>
            </div>
            <br>
        </div>

        <br>


        <!-- Game Canvas -->
        <div id="myCanvas" class="canvaClass"> <!-- Actual playspace -->
            <canvas class="left" width="700" height="480" ref="splineDisplay">
                Sorry, your browser doesn't support canvas.
            </canvas>

            <br>
        </div>

    </div>
</body>

</html>