#scoreList {
    visibility: hidden;
}
.center{
    text-align: center;
    color: lightyellow;
}
.paramount{
    text-align: center;
    color:#962c1a;
    font-family: "Comic Sans", sans-serif;
}
.canvaClass{
    text-align: center;
    padding: 5%;
    padding-top: 0%;
}
#trekkoning{
    font-size: 50px;
    color: #ffd119;
    font-family: 'Courier New', Courier, monospace;
}
#jsScore{
    color: #ff3e30;
    padding: 20px;
}
body{
    background-color: #040533;
}